<fieldset data-hook="afterpay_payment">
  <legend><%= Spree.t(:name, scope: [:afterpay, :payment_details]) %></legend>
  <table class="table table-condensed table-bordered">
    <tr>
      <th width="20%"><%= Spree.t(:email) %>:</th>
      <td><%= payment.source.email %></td>
    </tr>
    <tr>
      <th><%= Spree.t(:transaction_id) %>:</th>
      <td><%= payment.source.transaction_id %></td>
    </tr>
  </table>
</fieldset>
